/* CRUD */

.cursor-pointer {

    cursor: pointer;

}

.row-cards {

    row-gap: 1.25rem;

}

.crud-actions {

    display: flex;

    gap: .5rem;

    flex-wrap: wrap;

}

.page-title {

    font-size: 1.6rem;

    font-weight: 700;

}